header{
    border: 1px solid black;
    padding-left: 20px;
    height: 27vh;
}
header h1{
    font-family: sans-serif;
    text-decoration: underline;
}
.wikiLink{
    text-decoration: none;
}
.beagle-img{
    width: 20%;
    height: 20%;
}
#trivia h1{
    text-decoration: underline;
}
@media (max-width: 768px) {
    header{
        border: 1px solid black;
        padding-left: 20px;
        height: auto;
    }
    header p {
        font-size: 1rem;
        max-width: 90%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .beagle-img {
        max-width: 80%;
    }

    #trivia li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    header{
        border: 1px solid black;
        padding-left: 20px;
        height: auto;
    }
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.3rem;
    }

    header p {
        font-size: 0.9rem;
    }

    .wikiLink {
        font-size: 1rem;
    }

    .beagle-img {
        max-width: 90%;
    }

    #trivia h1 {
        font-size: 1.5rem;
    }

    #trivia li {
        font-size: 0.9rem;
    }
}